 
.App{
  background-color: #222222;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.appHead{
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #57a3d5;
  padding: 0 40px;
}
.appMain{
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
}